<!-- ************   About Left-side ********************   -->
<!--       <div id="about_left_pane" class="left_pane" class="about_left_side">

<!--         <img src="https://flaskpersonalportfolio.shashwatpatel5.repl.co/static/DSC_3791.jpg" alt=""
          class="about_ls_img img-responsive"> -->

        <!-- about_left_side -->
<!--       </div> --> 


      <!-- ************    About Right-side ********************   -->
      <div id="about_right_pane" class="right_pane" class="about_right_side">
        <h1 id="about_page_heading" class="page_heading">ABOUT ME</h1>
        <h3 id="about_content_heading" class="content_heading"> WHO I AM</h3>

        <p id="about_paragraph_one" class="content_paragraph_one">
          Hello there! I am a undergrad in Computer Science with a passion for Machine Learning and developing innovative and intelligent systems that can make a difference in people's lives. My name is Shashwat Patel. I am passionate about Machine Learning and data analysis and have a strong foundation in programming, statistics, and Mathematics. Skilled in data mining and manipulation using Python, Databases, Wed-Development, and Tableau.        

        <div id="about_subsection" class="content_subsection">
          <div class="about_data">
            <ul>
              <li> <strong>Birthday:</strong> <span>15 OCTOBER 1997</span>
              </li>
              <li> <strong>Age:</strong> <span>25</span></li>
              <li> <strong>Degree:</strong> <span>Bachelors (Computer Science) </span></li>
              
              
            </ul>
          </div>
          <div class="about_data_1">
            <ul>
              <li> <strong>City:</strong> <span>Bartlett, IL, USA</span></li>              
              <li> <strong>Email:</strong> <span>patel.shashwat@outlook.com</span></li>
              <li> <strong>Phone:</strong> <span>+1 (331)308-1899</span></li>
            </ul>
          </div>
        </div>
        
        <p id="about_paragraph_one" class="content_paragraph_one">

          
          As a machine learning engineer, I am constantly striving to push the boundaries of what is possible with intelligent systems. I believe that the intersection of machine learning and human ingenuity can help us tackle some of the biggest challenges facing society today.

In my free time, I enjoy learning about new advancements in the field of AI and experimenting with new technologies.I believe that education is the key to unlocking the full potential of machine learning, and I enjoy giving talks and workshops on the subject.
        </p>


        
        <p id="about_paragraph_one" class="content_paragraph_one">
          Thank you for taking the time to learn more about me. If you have any questions or would like to discuss a project, please don't hesitate to get in touch!
        </p>

        <!-- about_right_side -->
      </div>