<!-- ************   About Left-side ********************   -->
      <div id="about_left_pane" class="left_pane" class="about_left_side">

        <img src="https://flaskpersonalportfolio.shashwatpatel5.repl.co/static/DSC_3791.jpg" alt=""
          class="about_ls_img img-responsive">

        <!-- about_left_side -->
      </div>


      <!-- ************    About Right-side ********************   -->
      <div id="about_right_pane" class="right_pane" class="about_right_side">
        <h1 id="about_page_heading" class="page_heading">ABOUT ME</h1>
        <h3 id="about_content_heading" class="content_heading"> WHO I AM</h3>

        <p id="about_paragraph_one" class="content_paragraph_one">
          I am Shashwat Patel. American-Indian Student who is an enthusiast of Machine
          Learning and Computer technologies. I have a bachelor's degree in Computer Science from Northern Illinois
          University.
          I also have an engineering Degree in Automobile Engineering.
        </p>

        <p id="about_paragraph_one" class="content_paragraph_one">
          I am a Python Programmer with good knowledge of Machine-Learning, Data-Science,
          Databases, and Wed-Development.
        </p>

        <div id="about_subsection" class="content_subsection">
          <div class="about_data">
            <ul>
              <li> <strong>Birthday:</strong> <span>15 OCTOBER 1997</span>
              </li>
              <li> <strong>Age:</strong> <span>25</span></li>
              <li> <strong>Phone:</strong> <span>+1 (331)308-4963</span></li>
              <li> <strong>City:</strong> <span>Bartlett, IL, USA</span></li>
            </ul>
          </div>
          <div class="about_data_1">
            <ul>

              <li> <strong>Degree:</strong> <span>Bachelors </span></li>
              <li> <strong>Email:</strong> <span>ShashwatPatel107@gmail.com.com</span></li>
              <li> <strong>Website:</strong> <span>www.example.com</span></li>
              <!--            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
            </ul>
          </div>
        </div>

        <!-- about_right_side -->
      </div>