<!-- ************  projects Left-side ********************   -->


      <!-- ************    projects Right-side ********************   -->
<div id="projects_right_pane" class="right_pane" class="projects_right_side">
<h1 id="projects_page_heading" class="page_heading">PROJECTS</h1>

        <div class="project_main grid-container">
          {% for project in projects%}
            <div class="project_box grid-item">
              <div class="col-md-6 pro_ID">
                <p> {{project["Project_ID"]}}</p>
                </div>
              <div class="col-md-6 pro_date">
                <p> {{project["Start_Date"]}}</p>                 
              </div>
              
              
              <h3>{{project["Topic"]}}</h3>
              <h5> {{project["Title"]}}</h5>                   
              <p class="pro_learning"> {{project["Learning"]}}</p>
              <a class="btn btn-info" href='{{project["Link"]}}' target="_blank">View</a>
            </div>
          {% endfor %}
         
          
          

          <!-- Project Content   -->
        </div>

        <!-- projects_right_side -->
      </div>





