 <!-- ************  Resume Left-side ********************   -->




<!-- ************    Resume Right-side ********************   -->
<div id="resume_right_pane" class="right_pane" class="resume_right_side">
  <h1 id="_page_heading" class="page_heading">RESUME</h1>
  <embed src="https://flaskpersonalportfolio.shashwatpatel5.repl.co/static/Shashwat_Resume.pdf" type="application/pdf" width="100%" height="80%" />
<!--   <iframe src="Shashwat Resume.pdf" width="45%" height="400px"></iframe> -->


  
  <!-- resume_right_side -->
  </div>